header {
    width: 100%;
    height: 10em;
    border-bottom: 0.25em solid #FFF;
    background: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 1em; /* Uniformiser la taille de la police */
    font-weight: 600;
    margin: 0 1.25em;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    position: relative; /* Ajouté pour le positionnement relatif */
}

nav a:hover {
    color: #ffffff;
    border-bottom: none;
}

.menu_deroulant {
    position: relative;
}

.menu_deroulant .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #302f2f;
    border-top: 0.25em solid #fff;
    z-index: 1000;
    padding: 1.25em;
}

.menu_deroulant:hover .submenu {
    display: block;
}

.submenu li {
    width: 100%;
    text-align: left;
}

.submenu a {
    padding: 0.6em;
    font-size: 2em; /* Uniformiser la taille de la police */
    transition: transform 0.3s ease; /* Ajouter la transition pour le zoom */
}

.submenu a:hover {
    transform: scale(1.1); /* Ajouter l'effet de zoom */
}

header h1 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 1em; /* Uniformiser la taille de la police */
    font-weight: 600;
    margin: 0;
    transition: transform 0.3s ease; /* Ajouter la transition pour le zoom */
}

header h1:hover {
    color: #ffffff;
    transform: scale(1.1); /* Ajouter l'effet de zoom */
}

header a {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 1em; /* Uniformiser la taille de la police */
    font-weight: 600;
    margin: 0;
}

header a:hover {
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./image\ 1.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body {
    width: 79.75em;
    height: 40.625em;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 0.9375em;
    padding: 1.25em;
}
.body-solo {
    width: 79.75em;
    height: 40.625em;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375em;
    padding: 1.25em;
}

button {
    border: none;
    background: transparent;
    color: #FFF;
    position: relative;
    overflow: hidden;
    width: 27em;
    height: 2em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.25em;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em ;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #d82727, #f29e2a, #f1b50d, #4dff40);
    background-size: 300%;
    z-index: -1;
    border-radius: inherit;
    transition: background-position 0.4s ease;
}

button:hover::before {
    background-position: right;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
}


body h1 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}
body h1:hover{
    transform: scale(1.1);
}
body h3{
    color: #FFF;
}
.cross {
    width: 4.5625em;
    height: 4.8125em;
}
.cross:hover {
    width: 5.5em;
    height: 5.8125em;
}

.PartG, .PartD {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PartG h1 {
    font-size: 4em;
}

.PartG h3 {
    font-size: 1.5em;
}

.icons {
    display: flex;
    gap: 0.625em;
}

.PartD a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.75em;
    margin: 0.3em 0;
}

footer {
    width: 100%;
    box-sizing: border-box;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1B1B1B;
    padding: 0 1.25em;
    overflow: hidden;
}
footer h1 {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: right;
}
footer h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 2em;
    font-weight: 400;
    text-align: right;
}
.reseaux {
    display: flex;
    align-items: center;
    gap: 0.625em;
}
.reseaux img {
    width: 2em;
    margin: 0 0.3125em;
    transition: transform 0.3s ease; 
}
.reseaux img:hover {
    transform: scale(1.1); 
}
body.basketball{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./basketfond1.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.football{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./footfond.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.gym{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./gymfond.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.muscu{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./muscufond.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.tennis{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./tennisfond.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body.tri{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(./trifond.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sujet, .text {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0.9375em;
    color: #fff;
    padding: 8px;
    resize: none;
    font-size: 24px;
    width: 22em;
}

.sujet {
    text-align: center;
    height: 2em;
    margin-bottom: 1em; 
}

.text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
}

.sujet::placeholder, .text::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
}

.sujet:focus::placeholder, .text:focus::placeholder {
    color: transparent; 
}

