<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <header>
        <form method="POST" action="/niveau">
            <input type="text" autocomplete="off" value="Titre" placeholder="Titre..." required>
            <input type="text" autocomplete="off" value="Catégorie" placeholder="Catégorie..." required>
            <input type="text" autocomplete="off" value="Contenu" placeholder="Contenu..." required>
            <div class="boutons">
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </header>
</body>
</html>