<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
    <header>
        <form method="POST">
            <input type="text" autocomplete="off" name="Titre" placeholder="Titre..." required>
            <input type="text" autocomplete="off" name="Catégorie" placeholder="Catégorie..." required>
            <input type="text" autocomplete="off" name="Contenu" placeholder="Contenu..." required>
            <div class="boutons">
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </header>
    <body>

    </body>
</html>