<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page de connexion</h1>
    <form method="POST">
        <input type="text" autocomplete="off" name="email" placeholder="Votre email" required>
        <input type="text" autocomplete="off" name="password" placeholder="Votre mot de passe" required>
        <div class="boutons">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</body>
</html>