<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Forum</title>
</head>
<header>
    <nav>
        <ul>
            <li class="menu_deroulant">
                <a href="./index.html"><h1>Forum des Sports</h1></a>
                <ul class="submenu">
                    <li><a href="./basket.html">Basket</a></li>
                    <li><a href="./foot.html">Football</a></li>
                    <li><a href="./tennis.html">Tennis</a></li>
                    <li><a href="./triathlon.html">Triathlon</a></li>
                    <li><a href="./muscu.html">Musculation</a></li>
                    <li><a href="./gym.html">Gymnastique</a></li>
                </ul>
            </li>
        </ul>
    </nav>
            <a href="./rediffusions.html"><h1>Redifusions</h1></a>
            <a href="./publication.html"><img src="/static/cross.png" class="cross"></a></li>
            <a href="./actu.html"><h1>Actualités</h1></a>
    <nav>
        <ul>
            <li class="menu_deroulant">
                <a href="#"><h1>Connexion</h1></a>
                <ul class="submenu">
                    <li><a href="./login.html">S'enregistrer</a></li>
                    <li><a href="./register.html">S'identifier</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<body>
    <div class="body">
        <div class="PartG">
            <h1>Post</h1>
        </div>

        <div class="PartD">
          <h1>Discussions</h1>
        </div>
    </div>

</body>
<footer>
    <div class="reseaux">
        <h1>Nous suivre</h1>
        <a href="https://www.instagram.com/"><img src="../static/Instagram.png" class="home-link-img"></a>
        <a href="https://x.com/"><img src="../static/Twitter.png" class="home-link-img"></a>
        <a href="https://www.youtube.com/"><img src="../static/Youtube.png" class="home-link-img"></a>
        <a href="https://www.tiktok.com/fr/"><img src="../static/Vector.png" class="home-link-img"></a>
    </div>
    <h2>Projet B1 Info - Constance Parmentier / Pierrick Dreuslin / Lilian Grenier</h2>
</footer>
</html>