<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        <input type="text" autocomplete="off" name="new_username" placeholder="Username" required>
        <input type="text" autocomplete="off" name="new_surnom" placeholder="Surnom" required>
        <input type="text" autocomplete="off" name="new_email" placeholder="Email" required>
        <input type="text" autocomplete="off" name="new_password" placeholder="Password" required>
        <div class="boutons">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</body>
</html>